.topsite {
    background-image: linear-gradient(rgba(0, 0, 0, .6),
    rgba(95, 76, 12, 0.2), 
    rgba(0, 0, 0, .6)), url(../images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    height: 600px;
    
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.top-bar {
    position:absolute;
    top: 0;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
    left: 0;
    right: 0;
    transition: background-image .3s ease;
    z-index: 11;
}

.top-bar a {
    float: center;
    color:rgba(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.top-bar a:hover {
    background-color: aqua;
    color: black;
}


.about-me-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #0a1f44, #0f2a66);
    padding: 50px;
    border-radius: 16px;
    color: #fff;
}

.about-text {
    max-width: 50%;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image img {
    max-width: 280px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .5);
}

/* Below this part is the CSS where I explain the tools I currently use https://www.sekai.gg */

.my-tools {
  background-color: #202020;
  padding: 80px 20px;
  color: #fff;
}

.tools-container {
  max-width: 1200px;
  margin: 0 auto;
}

.h1 {
  margin: 0 0 60px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

.about-me-tabs-nav {
  display: flex;
  justify-content: center;
}

.about-me-menu-list {
  display: flex;
  gap: 40px;
}

.about-me-tabs-item {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.about-me-tabs-item.w--current {
  border-bottom: 3px solid #fcd707d2;
}

.tab-number {
  color: #fcd707d2;
  font-size: 18px;
  font-weight: bold;
}

.tab-head {
  color: #aaa;
  font-size: 14px;
  align-items: center;
}